h1{
    color: white;
    background-color: red;
    text-align: center;
    width: fit-content;
    margin: 0 auto;
    padding: 8px;
    margin-bottom: 1rem;
}

.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.burger-upper-bun {
    width: 24rem;
    height: 6rem;
    background-color: #deb787;
    border-radius: 4rem 4rem 1rem 1rem;
    border-bottom: 1rem solid #d1a15f
}
.cheese{
    width: 25rem;
    height: 1rem;
    background-color: #ffd700;
    border-bottom: 0.4rem solid #D3A15F;
}

.tomato {
    width: 20rem;
    height: 2rem;
    background-color: red;
    border-bottom:  0.4rem solid darkred;
}

.meat {
    width: 23rem;
    height: 3rem;
    background-color: #cc6633;
    border-radius: 4rem 4rem 4rem 4rem;
    border-bottom: 1rem solid #993300;
}

.onion {
    width: 18rem;
    height: 2rem;
    background-color: #800080;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.onion-ring {
    width: 2rem;
    height: 2rem;
    border-radius: 50%;
    background-color: pink;
}

.mielone {
    display: flex;
}

.mielony {
    background-color: #A52A2A;
    height: 6rem;
    width: 6rem;
    border-radius: 50%;
}

.cucumber {
    background: #90EE90;
    width: 22rem;
    height: 3rem;
    border-radius: 0rem 0rem 4rem 4rem;
    border-bottom: 1rem solid #008000;
}
.lower-bun{
    width: 24rem;
    height: 3rem;
    background-color: #deb787;
    border-radius: 1rem 1rem 4rem 4rem;
    border-top: 1rem solid #d1a15f
}